{% extends 'base.html.twig' %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>Panier</h1>
				<div class="table-responsive" style="overflow-x: hidden; overflow-y: hidden;">
					<table class="table">
						<thead>
							<tr>
								<th>Image</th>
								<th>Costume</th>
								<th>Prix</th>
								<th>Quantité</th>
								<th>Total</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for element in data %}
								<tr>
									<td>
										<a href="{{ asset('/images/costume/' ~ element.costume.images[0].imageName) }}" data-lightbox="{{element.costume.titre}}">
											<img src="{{ asset('/images/costume/' ~ element.costume.images[0].imageName) }}" alt="{{element.costume.titre}}" class="img-thumbnail img-fluid" style="max-width: 100px; max-height: 100px;">
										</a>
									</td>

									<td>{{ element.costume.titre }}</td>
									<td>{{ element.costume.prix|format_currency('EUR') }}</td>
									<td>{{ element.quantity }}</td>
									<td>{{ (element.quantity * element.costume.prix)|format_currency('EUR')  }}</td>

									<td>
										<a href="{{ path('app_front_panier_add', {id: element.costume.id}) }}" class="btn btn-unstyled mx-1 mb-2">+</a>
										<a href="{{ path('app_front_panier_remove', {id: element.costume.id}) }}" class="btn btn-unstyled mx-1 mb-2">-</a>
										<a href="{{ path('app_front_panier_delete', {id: element.costume.id}) }}" class="btn btn-unstyled mx-1 mb-2">
											<i class="fa-regular fa-trash-can"></i>
										</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="6">Votre panier est vide</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<td colspan="4">Total</td>
								<td>{{ total|format_currency('EUR') }}</td>
								<td>
									<a href="{{ path('app_front_panier_empty') }}" class="btn btn-secondary">Vider</a>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
