{% extends 'base.html.twig' %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>Panier</h1>
				<div class="text-center" class="table-responsive" style="overflow-x: hidden; overflow-y: hidden;">
					<table class="table">
						<thead>
							<tr>
								<th>Image</th>
								<th>Costume</th>
								<th>Prix</th>
								<th>Quantité</th>
								<th>Total</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for element in data %}
								<tr  class="reduced-height">
									<td class="col-2" style="padding-top: 0; padding-bottom: 0; margin-top: 10px; margin-bottom: 10px;">
										<a href="{{ asset('/images/costume/' ~ element.costume.images[0].imageName) }}" data-lightbox="{{element.costume.titre}}">
											<img src="{{ asset('/images/costume/' ~ element.costume.images[0].imageName) }}" alt="{{element.costume.titre}}" class="img-fluid" style="max-width: 100px; max-height: 100px; position: relative; top: 12px;">
										</a>
									</td>
									<td class="text-center" style="padding: 50px 0;">{{ element.costume.titre }}</td>
									<td class="text-center" style="padding: 50px 0;">{{ element.costume.prix|format_currency('EUR') }}</td>
									<td class="text-center" style="padding: 50px 0;">{{ element.quantity }}</td>
									<td class="text-center" style="padding: 50px 0;">{{ (element.quantity * element.costume.prix)|format_currency('EUR')  }}</td>
									<td>
										<div class="button-group" style="margin-top: 34px;">
											<a href="{{ path('app_front_panier_add', {id: element.costume.id}) }}" class="btn btn-unstyled mx-1 mb-1">+</a>
											<a href="{{ path('app_front_panier_remove', {id: element.costume.id}) }}" class="btn btn-unstyled mx-1 mb-1">-</a>
											<a href="{{ path('app_front_panier_delete', {id: element.costume.id}) }}" class="btn btn-unstyled mx-1 mb-1">
												<i class="fa-regular fa-trash-can"></i>
											</a>
										</div>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="6">Votre panier est vide</td>
								</tr>
							{% endfor %}
						</tbody>
						{% set totalQuantity = 0 %}
						{% for element in data %}
							{% set totalQuantity = totalQuantity + element.quantity %}
						{% endfor %}
						<tfoot>
							<tr>
								<td colspan="3">
									<strong>TOTAL</strong>
								</td>
								<td>{{ totalQuantity }}</td>
								<td>{{ total|format_currency('EUR') }}</td>
								<td>
									<a href="{{ path('app_front_panier_empty') }}" class="btn btn-secondary">Vider</a>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
