<div class="logo-container my-1">
	<a href="{{ path('app_home2') }}">
		<img src="{{ asset('/images/logo/logo.png') }}" alt="logo" width="300"></a>
</div>
<nav class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="d-flex justify-content-center w-100">
				<ul class="navbar-nav w-50">

					<li class="nav-item align-items-center">
						<a class="nav-link active" aria-current="page" href="{{ path('app_home2') }}">
							<i class="fa-solid fa-house"></i>
						</a>
					</li>
					<li class="nav-item dropdown align-items-center">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Categories
						</a>
						{{ render(controller('App\\Controller\\FrontCategorieController::renderCategorieDropDown')) }}
					</li>
					<li class="nav-item ms-lg-auto d-flex">
						{% if app.user is null %}
							<a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
						{% else %}
							<div class="d-flex align-items-center">
								<span class="text-light"></span>
								{# {{ app.user.email }}  #}
								{% if app.user.avatar is not null and app.user.avatar.imageName is not null %}
									<img src="{{ asset('images/avatar/' ~ app.user.avatar.imageName) }}" alt="avatar" class="avatar">
								{% endif %}
								<a class="nav-link" href="{{ path('app_front_user') }}">
									<i class="fa-solid fa-user"></i>
								</a>
							</div>
						{% endif %}
					</li>
					<li class="nav-item">
						{% if is_granted("ROLE_ADMIN") %}
							<a class="nav-link " href="{{ path('app_admin') }}">Admin</a>
						{% endif %}
					</li>
					<li class="nav-item">
						{% if is_granted("ROLE_USER") %}
							<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
						{% else %}
							<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
						{% endif %}
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_front_contact') }}">
							<i class="fa-solid fa-envelope"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_front_panier') }}">
							<i class="fa-solid fa-cart-shopping"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
